# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.Python

# Virtual Environment
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
*.rar
*.zip
ngrok.exe
ngrok.zip
python1 - Copy.rar

# Streamlit
.streamlit/secrets.toml
